
            input{
                border-radius: 10px;
                background-color: rgb(212, 153, 212);
                font-family: cursive;
                font-size: white;
                font-size: 20px;
                
            }
  